language: php
before_script:
- composer install --dev --no-interaction
- cd test
script:
- ../vendor/bin/phpunit --coverage-clover clover.xml
after_script:
- cd ..
- ./scripts/s3upload.sh
php:
- 5.6
- 7.0
notifications:
  hipchat:
    rooms:
      secure: AK5ZBwcikWcSMe9y1/QG6LnR5p+cL0ycgOo1Qj3oY9Gicn97aC4fbGQ/d/yC5ZWWHU4HtjRHfssqDQlgTknRELhN+Ru2LyrEqajb+ZkePKLm2rEAI5ZQdMOwqb5biCkRxe5cCOfqe0dw5I6uwJsH1aBaBrkD/DWgMavEhwqbkSk=
    template:
    - '<a href="https://travis-ci.org/%{repository}/builds/%{build_id}">%{repository}
      Build %{build_number}</a> on branch <i>%{branch}</i> by %{author}: <strong>%{message}</strong>
      <a href="https://github.com/%{repository}/commits/%{commit}">View on GitHub</a>'
    format: html
env:
  global:
  - S3_POLICY: ewogICJleHBpcmF0aW9uIjogIjIxMDAtMDEtMDFUMTI6MDA6MDAuMDAwWiIsCiAgImNvbmRpdGlvbnMiOiBbCiAgICB7ImFjbCI6ICJwdWJsaWMtcmVhZCIgfSwKICAgIHsiYnVja2V0IjogInNlbmRncmlkLW9wZW4tc291cmNlIiB9LAogICAgWyJzdGFydHMtd2l0aCIsICIka2V5IiwgInNtdHBhcGktcGhwLyJdLAogICAgWyJjb250ZW50LWxlbmd0aC1yYW5nZSIsIDIwNDgsIDI2ODQzNTQ1Nl0sCiAgICBbImVxIiwgIiRDb250ZW50LVR5cGUiLCAiYXBwbGljYXRpb24vemlwIl0KICBdCn0K
  - secure: i2K/HSVgkbrrWDeEVLlzZR8sZ7gs29x/t8v2mXYkBIuwsxwJUB3Rjwc6idrpDabHfKFKZfgWAMM1gElssTX2I+qRD32R7gqi2XAe+Qw4Un3/wslFy3QQK0JTIktIkemM/ku8NfEt8kA9tWz9jELFq2bdF3st+YpndapsYHwGiA0=
  - secure: p4+RTPwJDTT8zHogDgNtKpuNU+Vvky4DKdpAzkEkMwvU9UkI865iHY830pB6YKfTTzn23eFjOPSuBvwMHtygAx7I5MHs4Zj8j+KQNZov2kbEg86ZaihmGUMJcuOKdE6SeiwmECJ+mYwzFQkifAl6AlCBWg1xAMaN4GC7cfmtKOY=
  - secure: gQ0ffb82Jvx57mSiMgA52yiOrQcKGukEWw4qH7nNveWkGxcBe9o+5+/v8kInMxcOWNNFKlxd7iDuwa3VEAsUp26X28edGD45ce84Rw6yqkiquw7HU94b7Y926IO3pw5zVHUlabLhTIdGkox9+sj1/uaOseXfeWE5Ekz4JteNJcM=
